.venv/
archive/
.claude/
__pycache__/
*.pyc
weights/
*.pth
*.pt
*.safetensors
coarse_cache/
voc2012_4class_train_image_ids.txt
voc2012_4class_train_images.txt
voc2012_5class_train_image_ids.txt
voc2012_5class_train_images.txt
voc2012_5class_val_image_ids.txt
voc2012_5class_val_images.txt
visual_bbox_5class.ipynb
test_sam3_face.ipynb
test_all_onkaggle.ipynb
sam3-improve-5first.ipynb
run_sam3.ipynb
test_sam3_face.ipynb
plot_image_4class.ipynb
inference_sam3_unet.ipynb
get_5class.ipynb